body{
    background-image:url("../img/pexels-photo-628241.jpeg");
}
h1{
    color: rgb(87, 8, 161);
}
label{
    color: cadetblue;
    font-size: medium;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background-color: #8a928a; 
    border: 2px solid hsl(135, 88%, 51%);
    color: rgb(77, 9, 155);
    margin-top: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
   }

.form{
    background-color: beige;
    padding-left: 0px;
    padding-bottom: 3px;
    margin-bottom: 10%;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}